@import "tailwindcss";

@custom-variant child (& > *);


@custom-variant dark (&:where(.dark, .dark *));
@custom-variant theme (&.theme &);  
@custom-variant first-child (& > *:first-child);


@theme
{
    /* color */
    --color-brown-100:#ECE0D1;
    --color-brown-300:#DBC1AC;
    --color-brown-600:#967259;
    --color-brown-900:#634832;

    /* shadow */
    --shadow-light-dark: 0px 1px 10px rgba(0, 0, 0, 0.05);

    /* rounded */
    --radius-4x1:2rem;

    /* font */
    --font-Dana-Bold: 'Dana-Bold', sans-serif;
    --font-Dana-medium: 'Dana-medium', sans-serif;
    --font-Dana-reg: 'Dana-reg', sans-serif;
    --font-Morabba-Bold: 'Morabba-Bold', sans-serif;
    --font-Morabba-medium: 'Morabba-medium', sans-serif;
    --font-Morabba-reg: 'Morabba-reg', sans-serif;
    --font-Lahzeh-reg: 'Lahzeh-reg', sans-serif;
    --tracking-top: -0.065em;
    --breakpoint-xs:480px;

    --spacing-30:120px;
}
html {
  /* scroll-behavior: smooth; */
  scroll-behavior: smooth;
}
    @font-face {
  font-family: Lahzeh-reg;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("/public/font/Lahzeh-Regular (1).ttf") format("woff2");
}
    @font-face {
  font-family: Dana-Bold;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("/public/font/fonts/Dana/woff2/DanaFaNum-DemiBold.woff2") format("woff2");
}
    @font-face {
  font-family: Dana-reg;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("/public/font/fonts/Dana/woff2/DanaFaNum-Regular.woff2") format("woff2");
}
    @font-face {
  font-family: Morabba-medium;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("/public/font/fonts/Morabba/woff2/Morabba-Medium.woff2") format("woff2");
}
    @font-face {
  font-family: Morabba-reg;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("/public/font/fonts/Morabba/woff2/Morabba-Light.woff2") format("woff2");
}
    @font-face {
  font-family: Morabba-Bold;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("/public/font/fonts/Morabba/woff2/Morabba-Bold.woff2") format("woff2");
}
.bg-d
{
  background-size: auto 100%;
}

.container-a
{
  @apply px-4 lg:px-[10px] mx-auto;
    width: 100%;
    @media (width >= 40rem) {
      max-width: 40rem;
    }
    @media (width >= 48rem) {
      max-width: 48rem;
    }
    @media (width >= 64rem) {
      max-width: 64rem;
    }
    @media (width >= 80rem) {
      max-width: 80rem;
    }
}
.category-banneer_item-2
{
  background-image:linear-gradient(to left, rgba(0, 0, 0, 0.6) 33.85%, rgba(243, 244, 246, 0.1)), url('/CoffeeShop-Files/categories/category-left.jpg');
  background-size: cover;
}
.category-banneer_item-1
{
  background-image:linear-gradient(to left, rgba(0, 0, 0, 0.6) 33.85%, rgba(243, 244, 246, 0.1)), url('/CoffeeShop-Files/categories/category-right.jpg');
  background-size: cover;
}
.club
{
    background-image:linear-gradient(to right, rgba(16, 185, 129, 1) , rgba(5, 150, 105, 1));

}
.gift
{
    background-image:linear-gradient(to left, rgba(253, 186, 116, 1) , rgba(254, 215, 170, 1));
}
.hover--blog
{
    background-image:linear-gradient(to left, rgba(253, 186, 116, 1) , rgba(254, 215, 170, 1));
}
html.dark .product
{
  opacity: 1;
  background: url('/CoffeeShop-Files/products.png') no-repeat center;
  background-size:100%;
  height: 100vh;
}
@media screen and (min-width: 1024px) {
  .product
{
  background: url('/CoffeeShop-Files/products-3.png') no-repeat center;
  background-size:100%;
  height: 100vh;
  }
}



@layer components{
  .submenu
  {
    @apply hidden flex-col gap-y-3 pr-7 text-base font-Dana-reg text-zinc-600 dark:text-white mt-3;
  }
  .submenu--open
  {
    @apply flex
  }
  .submenu__item--active
  {
    @apply relative pr-2.5 text-orange-300;
    /* با apply میتونی کار کنی ولی من میخوام با css خالص بنویسم */
    /* position: relative;
    padding-right: 10px;
    color: #fdba74; */
  }
  .submenu__item--active::after
  {
    content: "";
    width: 4px;
    height: 4px;
    background-color: #fdba74;
    display: block;
    border-radius: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
  }
   /* به این صورت هم میتوانی بنویسی */
     /* .submenu__item--active::after {
    @apply content-[''] w-1 h-1 bg-red-500 block rounded-full absolute top-0 bottom-0 right-0 m-auto;
  } */
   .overlay
   {
    @apply opacity-0 invisible w-full fixed inset-0 bg-black/40 z-10 md:hidden transition-all;
   }
   /* modifier تغییر دهنده */
   .overlay-p
   {
    @apply opacity-0 invisible w-full fixed inset-0 bg-black/40 z-10 md:hidden transition-all;
   }
   /* modifier تغییر دهنده */
   .overlay--active
   {
    @apply opacity-100 visible;
   }
   .overlay--active_p
   {
    @apply opacity-100 visible;
   }
   .title-setion
   {
    @apply lg:pt-48 pt-8 md:pt-24 flex justify-between md:mb-12 mb-5;
   }
 
   .title-subtitle
   {
    @apply flex flex-col gap-y-0.5 md:gap-y-1.5 text-gray-700 dark:text-white;
   }
   .select-product
   {
    @apply flex items-center gap-x-0.5 md:gap-x-1 md:hover:bg-orange-300/20 md:pl-1 md:pr-3 md:py-1.5 md:rounded-[6px];
   }
   .offer
   {
    @apply text-gray-400 relative;
   }
   .offer::after
   {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #ef4444;
    position: absolute;
    inset: 0;
    margin: auto;
   }
 
}







